.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heading-link {
    text-decoration: none;
    color: #1E283C;
}

.heading-and-create-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #1E283C;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #1E283C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.row-container {
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 6fr 5fr 1fr;
    padding: 24px;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 18px;
    transition: .25s ease-in-out;
}


.column-heading {
    font-weight: 600;
    font-size: 18px;
    color: #1E283C;
}

.column-value-container {
    overflow: hidden;
}

.column-value {
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: moz-pre-wrap;
    white-space: -o-pre-wrap;
    
}


.status-container {
    position: absolute;
    right: 24px;
}

.status {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d61717;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 0;
    background-color: white;
    border: 2px solid #d61717;
}

.verified {
    border: 2px solid #00d26a;
    color: #00d26a;
}

.half-verified {
    border: 2px solid #00d26a;
}

.resume-title {
    text-decoration: none;
    font-weight: 600;
    color: #1E283C;
}


.btn {
    text-decoration: none;
    font-weight: 600;
    color: #1E283C;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #f2f5fa;
    border-radius: 5px;
    margin-right: 10px;
    transition: .25s ease-in-out;
}


@media (max-width: 566px) { 

    .content-container {
        padding: 16px;
    }

    .data-container {
        padding: 0;
    }
    .row-container {
        padding: 16px;
        display: grid;
        font-size: 16px;
    }

    .heading-and-create-btn-container {
        padding: 24px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        font-size: 16px;
    }
}

/* search style */
.search-container {
    display: flex;
    padding: 0 16px;
    margin: 10px 0;
    flex-direction: column;
    align-items: flex-end;
}

.search-form-container {
    margin: auto;
    background-color: white;
    width: 100%;
    max-width: 628px;
    height: 64px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}
.search-icon {
    color: #1E283C;
    fill: transparent;
    stroke: #1E283C70;
    stroke-width: 2;
    width: 19px;
    min-width: 19px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#query {
    border: none;
    color: #1E283C;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    outline: none;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 500;
}

.vertical-divider {
    height: 55%;
    width: 2px;
    background-color: #e7e7e9;
    margin-right: 24px;
}

.search-submit-btn {
    all: unset;
    color: #1E283C;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
/* end search style */


/* Filter Form */
.filter-form {
    padding: 3rem 0;
    display: none;
}

label {
    margin-bottom: 5px;
}

.filter-btn {
    color: blue;
    margin: 1rem 0 0 0;
    cursor: pointer;
    user-select: none;
}

.field-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
}
[id^='id_'] {
    width: 100%;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    padding: 7px;
    font-size: 16px;
    outline: none;
}

.filter-submit-btn {
    background-color: #2ce0d4;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
    border: none;
    color: black;
    border-radius: 7px;
    text-decoration: none;
    margin-top: 1rem;
}
.filter-submit-btn:hover {
    /* background-color: #2abbb1ef; */
    transition: all .3s ease-out;
    box-shadow: -1px 2px 14px 1px rgba(0, 0, 0, 0.09);
}

/***********Mobile View(900px)***********/
@media (max-width:1200px){
    .filter-form {
        padding: 2rem 0;
    }

    .field-container {
        grid-template-columns: repeat(4, auto);
    }
}

/***********Mobile View(700px)***********/
@media (max-width:900px){
    .filter-form {
        padding: 1rem 0;
    }    
    .field-container {
        grid-template-columns: repeat(3, auto);
    }
}

/***********Mobile View(567px)***********/
@media (max-width:566px){
    .vertical-divider {
        display: none;
    }
    .search-submit-btn {
        display: none;
    }
    .status-container {
        right: 12px;
    }
    .field-container {
        grid-template-columns: repeat(2, auto);
    }
}