{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="showcase-area">
        <div class="container">
            <div class="left">
                <div class="big-title">
                    <h1>Built your own resume with ease</h1>
                </div>
                <p class="text">
                    You're on the right place to build your Resume for your career.
                </p>
                <div class="cta">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="btn">Get started</a>
                    {% else %}
                        <a href="{% url 'login-user' %}" class="btn">Get started</a>
                    {% endif %}
                </div>
            </div>

            <div class="right">
                <img src="{% static 'images/resume.jpg' %}" alt="Person Image" class="person" />
            </div>
        </div>
    </div>

    <div class="bottom-area">
        <div class="container">
        </div>
    </div>

{% endblock content %}