{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page With Light/Dark Mode</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <main>
    
    <div class="big-wrapper light">
        {% include "header.html" %}
        <!-- <img src="./img/shape.png" alt="" class="shape" /> -->
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </body>
</html>
