<header>
    <div class="container">
      <div class="logo">
        <h3>ResQR</h3>
      </div>

      <div class="links">
        <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#" class="btn">Sign up</a></li>
        </ul>
      </div>

      <div class="overlay"></div>

      <div class="hamburger-menu">
        <div class="bar"></div>
      </div>
    </div>
  </header>
